*,
p {}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    background: url("https://static.vecteezy.com/system/resources/previews/000/092/726/non_2x/question-mark-background-vector.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
}

#timer {
    text-align: center;
}

#main-header {
    text-align: center;
}

.answers:hover {
    cursor: pointer;
    padding: 25px;
    background: lightgray;
}